<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BoatBookingApp.Frontend</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <NavLink class="nav-link" href="boat-booking">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Rezervacija glisera
        </NavLink>
    </nav>
</div>

